* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

nav {
    padding-right: 120px;
    padding-left: 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 92px;

}

nav ul {
    /* width: 100%;
    max-width: 365px;
    height: 24px; */
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;

}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

.early-access-btn {
    width: 100%;
    max-width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

}