* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    padding-right: 120px;
    padding-left: 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 92px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;

}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

.early-access-btn {
    width: 100%;
    max-width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

}

.early-access-btn:hover {
    background-color: #28a75a;
    cursor: pointer;
}

.banner {
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    padding-left: 120px;
    background-image: url("../assets/hero-bg.png");
}

.banner h4 {
    margin-top: 115px;
    margin: 0 auto;
    width: 100%;
    width: max-content;
    font-weight: 500;
    font-size: 24px;
    padding: 2px 12px;
    text-align: center;
    background-color: #ffffff;
    color: #469165;
    border-radius: 15px;
    ;
    cursor: pointer;
}

.banner h4:hover {
    background-color: #b6cbbd;
    cursor: pointer;
}


.banner h1 {
    margin-top: 16px;
    width: 100%;
    max-width: 770px;
    font-weight: 700;
    line-height: 84px;
    font-size: 72px;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}


.banner p {
    width: 100%;
    max-width: 693px;
    height: 60px;
    font-family: 'Inter';
    font: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    gap: 16px;
}

.banner-1st-btn {
    width: 270px;
    height: 52px;
    padding: 16px 12px;
    display: inline;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.banner-1st-btn:hover {
    background-color: #28a75a;
    cursor: pointer;
}

.banner-2nd-btn {
    width: 100%;
    max-width: 198px;
    height: 52px;
    padding: 16px 12px;
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.banner-2nd-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.card-portion {
    width: 100%;
    max-width: 1600px;
    height: 448px;
    position: relative;
    z-index: 1;
}

.card-header h3 {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #001931;

}

.card-header p {
    margin-top: 16px;
    text-align: center;
    font-weight: regular;
    font-size: 16px;
    color: #627382;
    margin-bottom: 16px;

}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-right: 120px;
    padding-left: 120px;
    margin-top: 80px;
}

.card {
    width: 100%;
    max-width: 322px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    margin-top: 70px;
    width: 100%;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #F95555;
    margin-bottom: 16px;
    padding: 8px;
}

.card h4 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.card p {
    margin-top: 16px;
    font: 400;
    color: #627382;
    text-align: center;
    margin-bottom: 70px;
}

.hero {
    margin: 0 auto;
    width: 100%;
    max-width: 1340px;
    height: 384px;
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;

}

.hero h3 {
    margin-top: 80px;
    font: bold;
    font-size: 40px;
    color: #001931;
}

.hero p {
    width: 100%;
    max-width: 580px;
    margin-top: 16px;
    font: 300;
    font-size: 16px;
    color: #627382;
}

.hero-btn {
    width: 100%;
    max-width: 194px;
    margin-top: 24px;
    margin-bottom: 16px;

}

.second-banner {
    margin: 120px;
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: space-between;

}

.banner-2content {
    margin: 102px 120px 102px 60px;
    width: 100%;
    max-width: 515px;

}

.banner-2content h5 {
    font-weight: 600;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;

}

.banner-2content h2 {
    font-weight: bold;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;

}

.para {
    margin-top: 16px;
    width: 100%;
    max-width: 482px;
    color: #627382;
    margin-bottom: 40px;
}

.CheckCircle p {
    font: 400;
    font-size: 16px;
    color: #001931;
    display: flex;
    align-items: center;
    gap: 2px;
    line-height: 40px;

}

footer {
    width: 100%;
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
}

.footer-bg {
    margin: 120px 120px 80px 120px;
}

.footer {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-img img {
    margin: 120px 0 80px 120px;
}

.social-link h6 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #ffffff;
}

.Social-icon {
    margin-top: 16px;
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.Social-icon i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.Social-icon i:nth-child(1) {
    background-color: #ffffff;
    color: #001931;
}

.Social-icon i:nth-child(2) {
    background-color: #ffffff;
    color: #001931;
}

.Social-icon i:nth-child(3) {
    background-color: #ffffff;
    color: #001931;
}

.social-link {
    margin: 120px 120px 80px 0px;
}

.footer-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}

.copyright p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}