* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

nav {
    padding-right: 120px;
    padding-left: 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 92px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;

}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

.early-access-btn {
    width: 100%;
    max-width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

}

.early-access-btn:hover {
    background-color: #28a75a;
    cursor: pointer;
}

.banner {
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    padding-left: 120px;
    background-image: url("../assets/hero-bg.png");
}

.banner h4 {
    margin-top: 115px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    background-color: #ffffff;
    color: #469165;
    border-radius: 15px;
    ;
}

.banner h1 {
    margin-top: 16px;
    width: 100%;
    max-width: 770px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: white;
    margin-bottom: 24px;
}


.banner p {
    margin-top: 16px;
    width: 100%;
    max-width: 588px;
    height: 60px;
    font-family: 'Inter';
    font-size: regular;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    gap: 16px;
}

.banner-1st-btn {
    /* width: 100%; */
    width: 270px;
    height: 52px;
    padding: 16px 12px;
    display: inline;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    /* margin-bottom: 180px; */
}

.banner-1st-btn:hover {
    background-color: #28a75a;
    cursor: pointer;
}

.banner-2nd-btn {
    width: 100%;
    max-width: 198px;
    height: 52px;
    padding: 16px 12px;
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}